body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  color: #eeeeee;
  background: #010101;
  margin: 0;
  overflow-x: hidden;
}

p {
  font-family: "Poppins", sans-serif;
}

.hidden {
  display: none;
}

/* .freeze {
  overflow: hidden;
} */

/* ==================================== */
/* Keyframes */
/* ==================================== */

@keyframes hide-show-hide-first {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes hide-show-hide-second {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes hide-show-hide-third {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* ==================================== */
/* Navbar */
/* ==================================== */

nav {
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 4vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 2rem;
}

nav h5 {
  font-family: "Poppins", sans-serif;
  margin: 0;
}

nav button {
  color: #434042;
  height: fit-content;
  background: none;
  padding: 0.4rem;
  border: 1px solid #434042;
}

/* ==================== */
/* Modal */
/* ==================== */

.modal {
  z-index: 3;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.modal::-webkit-scrollbar {
  display: none;
}

.modal-wrapper {
  z-index: 3;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80vw;
  height: 90vh;
  margin: auto;
  border: 1px solid #444;
  outline: none;
  overflow: hidden;
}
.modal-close-button {
  position: fixed;
  top: 10vh;
  right: 12vw;
  padding: 0.25rem;
  font-size: 1.5rem;
  min-height: 2rem;
  max-height: 2rem;
  min-width: 2rem;
  max-width: 2rem;
  border: none;
  border-radius: 50%;
  color: #ccc;
  background-color: #222;
  align-items: center;
  text-align: center;
}
.modal-close-button:hover {
  cursor: pointer;
  color: #fff;
  background: #555;
  transition: color 0.5s;
}

.modal iframe {
  width: 100%;
  height: 100%;
  margin: auto;
  border: none;
  outline: none;
  overflow-x: hidden;
}

.dark-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  transition: background 1s;
}

/* ==================== */
/* Homepage */
/* ==================== */

.homepage-container {
  height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}

.immersive-intro-section {
  position: relative;
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
}

/* ==================== */
/* All intro videos */
/* ==================== */

.immersive-intro-section video {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}
.immersive-intro-section video::-webkit-media-controls-timeline {
  display: none;
}

.immersive-intro-section video::-webkit-media-controls-fullscreen-button {
  display: none;
}

/* ==================== */
/* Title */
/* ==================== */

.title-text {
  z-index: 1;
  text-align: center;
  position: absolute;
  top: 10vh;
  right: 0;
  left: 0;
}

.title-text h1 {
  font-family: "Staatliches", cursive;
  font-size: 7rem;
  font-weight: 300;
  color: #ffffff;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  text-shadow: 0 0 7px #000000, 0 0 10px #000000, 0 0 21px #000000,
    0 0 42px #000000, 0 0 82px #000000, 0 0 92px #000000, 0 0 102px #000000,
    0 0 151px #000000;
  margin-top: 0;
  margin-bottom: 5px;
}

.title-text .section-links {
  display: flex;
  justify-content: center;
}

.title-text h4 {
  font-family: "Staatliches", cursive;
  font-size: 1.25rem;
  letter-spacing: 1.5px;
  font-weight: 200;
  margin-top: 0;
}

button.play-button {
  z-index: 1;
  position: absolute;
  bottom: 5vh;
  right: 0;
  left: 0;
  width: 140px;
  padding: 1rem;
  margin: 0 auto;
}

.site-hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: -webkit-fill-available;
  object-fit: cover;
}

/* ==================== */
/* Image-and-text sections */
/* ==================== */

.image-and-text {
  display: flex;
}

.image-and-text img {
  height: 100vh;
  width: 60vw;
  object-fit: cover;
}

.image-and-text .accompanying-text {
  color: white;
  padding: 0 4rem;
  margin: auto;
}

.image-and-text .accompanying-text h1 {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1.25em;
  padding-bottom: 1rem;
}

.image-and-text .accompanying-text h3 {
  font-size: 1.25rem;
  font-weight: 400;
  margin: 0;
  text-align: right;
}

.image-and-text .accompanying-text h3.name {
  font-weight: 700;
}
.quote-1,
.quote-2,
.speaker {
  opacity: 0;
}
.quote-1.play {
  animation: hide-show-hide-first 7s infinite;
}
.quote-2.play {
  animation: hide-show-hide-second 7s infinite;
}
.speaker.play {
  animation: hide-show-hide-third 7s infinite;
}
/* ==================== */
/* Story list */
/* ==================== */

.story-list {
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  border-radius: 12px;
  margin: 0;
}

.category-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem 1rem;
  margin: 0;
  height: 33.3vh;
  max-height: 33.3vh;
  box-sizing: border-box;
}

.category-container.minimized {
  min-height: 20%;
  height: 20vh;
  max-height: 20vh;
  transition: min-height 0.2s, height 0.2s, max-height 0.2s;
  box-sizing: border-box;
}

.category-container.expanded {
  min-height: 60%;
  height: 60vh;
  max-height: 60vh;
  transition: min-height 0.2s, height 0.2s, max-height 0.2s;
  box-sizing: border-box;
}

.category-title {
  font-family: "Staatliches", cursive;
  text-align: center;
  font-size: 2.4rem;
  letter-spacing: 1.5px;
  font-weight: 300;
}
.category-title:hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.75);
}

#category0 {
  background: #aa4a44;
}

#category1 {
  background: #8f2f39;
}

#category2 {
  background: #62262c;
}

.young-devyn {
  background-image: url("assets/sample-pics/one.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.shauna {
  background-image: url("assets/sample-pics/one.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.borleone {
  background-image: url("assets/story-menu/borleone.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.bill-the-demon {
  background-image: url("assets/sample-pics/one.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.coop {
  background-image: url("assets/sample-pics/one.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

.young-devyn:hover,
.natasha:hover,
.shauna:hover,
.borleone:hover,
.bill-the-demon:hover,
.coop:hover {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

.story-list .buttons {
  display: flex;
  flex: 1;
}

.story-list .buttons.hidden {
  display: none;
}

.story-list button {
  font-family: "Poppins", sans-serif;
  font-size: 1.75rem;
  color: white;
  flex: 1;
  padding: 2rem;
  border: 2px solid black;
  /* border-radius: 12px; */
  margin: 0.6rem 1rem;
}

/* ======================== */
/* Video story page */
/* ======================== */

.story-modal {
  padding: 0 0 2rem;
}

.story-body {
  margin: 4rem 20vw;
}
.story-body p {
  font-size: 1rem;
  margin-top: 2rem;
  text-align: justify;
}

.story-body .story-title {
  padding: 0;
}

.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* - 16:9 aspect ratio (most common) */
  /* padding-bottom: 62.5%; - 16:10 aspect ratio */
  /* padding-bottom: 75%; - 4:3 aspect ratio */
  height: 0;
  overflow: hidden;
}
.video-wrapper iframe,
.video-wrapper object,
.video-wrapper embed {
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.bottom-of-article-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0 0;
  border-top: 1px solid #222;
  margin: 4rem 0;
}

.social-links h4 {
  margin-bottom: 0;
}
.social-links .icon-row a {
  color: #999;
  text-decoration: none;
  margin-right: 1rem;
}
.social-links .icon-row a:hover {
  color: white;
}

a.next-story-link {
  color: #ccc;
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: #222;
  border-radius: 0.5rem;
}
a.next-story-link i {
  font-size: 1rem;
}
a.next-story-link:hover {
  color: #fff;
  background: #555;
}
/* About Page */

.about-header {
  padding: 2rem 2rem 0;
}

.bio-grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  padding: 0 0 2rem;
}
.bio-card {
  column-span: 1;
  padding: 1rem;
}
.bio-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.7s;
  transform-style: preserve-3d;
  border-radius: 12px;
}

.bio-card-front,
.bio-card-back {
  border-radius: 12px;
}
.bio-card-front {
  color: #eee;
  overflow: hidden;
}
.hidden {
  display: none;
}
.bio-image-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 75%;
}
.bio-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
  object-fit: cover;
}

.bio-title {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  border-radius: 0 0 0.5rem 0.5rem;
  background: #222;
  box-sizing: border-box;
}
.bio-text {
  margin: 0;
}
.bio-title h3 {
  margin: 0 0 0.25rem;
}

.bio-title p {
  margin: 0;
}

.bio-card-back p {
  padding: 0 0.25rem;
  margin-bottom: 0;
}

.social-link-box {
}
.social-link {
  text-decoration: none;
  margin-right: 0.5rem;
  color: #eee;
}

i {
  display: inline-block;
  font-size: 1.5rem;
  padding: 0.5rem 0;
}

/* Multimedia Story Page */

.story-subhead {
  margin: 1rem;
  padding: 0.5rem;
}

.multimedia-grid {
  margin: 0 5rem;
  display: inline-flex;
}

.multi-image {
  max-width: 400px;
  max-height: 300px;
}

blockquote {
  max-width: 25%;
  max-height: 50%;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.5);
}

.mainheader {
  font-family: roboto sans-serif;
  font-size: 40px;
}

/* Photo Gallery */
.photo-card-1 {
  transform: translate(-50%, -50%) rotate(-1deg) translate(-108px, -10px)
    translate3d(-316.4512195121951px, -123.29268292682926px, 0px)
    rotate(3.2878048780487803deg);
}
.photo-card {
  box-sizing: border-box;
  display: block;
  height: 240px;
  width: 360px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
}

.freeze {
  overflow: hidden;
}

/* ==================================== */
/* Smaller desktop screens */
/* ==================================== */

@media screen and (min-width: 900px) and (max-width: 1199px) {
  .image-and-text {
    display: flex;
  }

  .image-and-text img {
    width: 50vw;
  }

  .image-and-text .accompanying-text {
    padding: 0 2rem;
  }

  .image-and-text .accompanying-text h1 {
    font-size: 2.4rem;
  }

  .image-and-text .accompanying-text h3 {
    font-size: 1.2rem;
  }
}

/* ==================================== */
/* Tablet */
/* ==================================== */

@media screen and (min-width: 600px) and (max-width: 899px) {
  .image-and-text {
    flex-direction: column;
  }

  .image-and-text img {
    width: 100vw;
    height: 56.25%;
  }

  .image-and-text .accompanying-text {
    padding: 2rem;
    margin: 0;
  }

  .image-and-text .accompanying-text h1 {
    font-size: 2.4rem;
  }

  .image-and-text .accompanying-text h3 {
    font-size: 1.2rem;
  }

  .bio-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* ==================================== */
/* Mobile */
/* ==================================== */

@media screen and (max-width: 599px) {
  .image-and-text {
    flex-direction: column;
  }

  .image-and-text img {
    width: 100vw;
    height: 56.25%;
  }

  .image-and-text .accompanying-text {
    padding: 1rem 1rem;
    margin: 0;
  }

  .image-and-text .accompanying-text h1 {
    font-size: 2rem;
  }

  .image-and-text .accompanying-text h3 {
    font-size: 1rem;
  }

  .immersive-video-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    margin: 0 auto;
  }

  /* Modal */

  .modal-wrapper {
    top: 8vh;
    width: 100vw;
    height: 92vh;
  }

  .modal-close-button {
    position: fixed;
    top: 2vh;
    right: 8vw;
  }

  .modal iframe {
    z-index: 3;
    position: absolute;
    top: 10;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 92vh;
  }

  /* Story list */

  .story-list .buttons {
    flex-direction: column;
  }

  /* Modal story */

  .story-body {
    margin: 0 1rem;
  }

  .bio-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (orientation: landscape) and (max-width: 900px) {
  .modal iframe {
    z-index: 3;
    position: absolute;
    top: 8vh;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 92vh;
  }
}
