/* Global */

body {
  font-family: "Roboto Mono";
  height: 100vh;
  color: #eeeeee;
  background: #010101;
  margin: 0;
  overflow-x: hidden;
}

p {
  font-family: "PT Serif";
}

.hidden {
  display: none;
}

/* .freeze {
  overflow: hidden;
} */

nav {
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 4vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem 1rem;
}

nav h5 {
  margin: 0;
}

nav button {
  color: #434042;
  height: fit-content;
  background: none;
  padding: 0.4rem;
  border: 1px solid #434042;
}

/* ==================== */
/* Modal */
/* ==================== */

.modal {
  z-index: 2;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
}

.modal-wrapper {
  z-index: 3;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80vw;
  height: 80vh;
  margin: auto;
  border: none;
  outline: none;
  overflow: hidden;
}

.modal-close-button {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 0.5rem;
  margin-right: 1.5rem;
  padding: 0.25rem;
  font-size: 1.5rem;
  height: 2rem;
  width: 2rem;
  border: none;
  border-radius: 50%;
  background-color: white;
  align-items: center;
  text-align: center;
}

.modal iframe {
  width: 100%;
  height: 100%;
  margin: auto;
  border: none;
  outline: none;
  overflow-x: hidden;
}

.dark-overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

/* ==================== */
/* Homepage */
/* ==================== */

.homepage-container {
  height: 100vh;
  overflow-y: auto;
  scroll-snap-type: y mandatory;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
}

.immersive-intro-section {
  position: relative;
  height: 100vh;
  width: 100vw;
  scroll-snap-align: start;
}

/* ==================== */
/* All intro videos */
/* ==================== */

.immersive-intro-section video {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ==================== */
/* Title */
/* ==================== */

.title-text {
  z-index: 1;
  text-align: center;
  position: absolute;
  top: 10vh;
  right: 0;
  left: 0;
}

.title-text h1 {
  font-size: 4rem;
}

.title-text .section-links {
  display: flex;
  justify-content: center;
}

button.play-button {
  z-index: 1;
  position: absolute;
  bottom: 20vh;
  right: 0;
  left: 0;
  width: 140px;
  padding: 1rem;
  margin: 0 auto;
}

.site-hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Story list */

.story-list {
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  margin: 0;
}

.category-container {
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid black;
  /* border-radius: 12px; */
  padding: 2rem 1rem;
  margin: 0;
  height: fit-content;
}

#thesis {
  background-image: url("assets/sample-pics/zero.jpeg");
}

#category-one {
  background-image: url("assets/sample-pics/one.jpeg");
}

#category-two {
  background-image: url("assets/sample-pics/two.jpeg");
}

#category-three {
  background-image: url("assets/sample-pics/three.jpeg");
}

.story-list .buttons {
  display: flex;
  flex: 1;
}
.story-list button {
  flex: 1;
  padding: 2rem;
  border: 2px solid black;
  /* border-radius: 12px; */
  margin: 0.6rem 1rem;
}

/* Video story page */

.story-title {
  padding: 0 2rem;
}
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%; /* - 16:9 aspect ratio (most common) */
  /* padding-bottom: 62.5%; - 16:10 aspect ratio */
  /* padding-bottom: 75%; - 4:3 aspect ratio */
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.video-wrapper iframe,
.video-wrapper object,
.video-wrapper embed {
  border: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* About Page */

.about-header {
  padding: 0 2rem;
}

.bio-grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}
.bio-card {
  column-span: 1;
  padding: 1rem;
}
.bio-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.7s;
  transform-style: preserve-3d;
  box-shadow: 0 3px 6px 0;
  border-radius: 12px;
}
/* .bio-card:hover .bio-card-inner {
  transform: rotateY(180deg);
} */
.bio-card-front,
.bio-card-back {
  /*   position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; */
  border-radius: 12px;
}
.bio-card-front {
  background-color: whitesmoke;
  color: black;
  overflow: hidden;
}
.bio-card-back {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: whitesmoke;
  color: black;
  overflow: hidden;
}
.hidden {
  display: none;
}
.bio-image-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 75%;
}
.bio-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
  object-fit: cover;
}

.bio-title {
  position: absolute;
  width: 100%;
  bottom: 0;
  border-radius: 0 0 0.5rem 0.5rem;
  background: whitesmoke;
}

.bio-title h3 {
  margin-top: 0.5rem;
  margin-bottom: 0.25rem;
}

.bio-title p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

.bio-card-back p {
  padding: 0 0.25rem;
  margin-bottom: 0;
}

.social-link-box {
  /*   z-index: -1;
  position: absolute;
  width: 100%;
  bottom: 0; */
  border-radius: 0 0 0.5rem 0.5rem;
  background: lightgray;
}
.social-link {
  text-decoration: none;
  margin-right: 0.5rem;
  color: black;
}

i {
  display: inline-block;
  font-size: 1.5rem;
  padding: 0.5rem 0;
}

/* Multimedia Story Page */

.story-subhead {
  margin: 1rem;
  padding: 0.5rem;
}

.multimedia-grid {
  margin: 0 5rem;
  display: inline-flex;
}

.multi-image {
  max-width: 400px;
  max-height: 300px;
}

blockquote {
  max-width: 25%;
  max-height: 50%;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.5);
}

.mainheader {
  font-family: roboto sans-serif;
  font-size: 40px;
}

/* Photo Gallery */
.photo-card-1 {
  transform: translate(-50%, -50%) rotate(-1deg) translate(-108px, -10px)
    translate3d(-316.4512195121951px, -123.29268292682926px, 0px)
    rotate(3.2878048780487803deg);
}
.photo-card {
  box-sizing: border-box;
  display: block;
  height: 240px;
  width: 360px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
}

.freeze {
  overflow: hidden;
}

/* Tablet */

@media screen and (min-width: 600px) and (max-width: 900px) {
  /* Story list */

  /* .story-list {
    margin: 0 8%;
  } */

  .bio-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* Mobile */

@media screen and (max-width: 599px) {
  .intro-modal-wrapper {
    z-index: 3;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 40vh;
    margin: auto;
    border: none;
    outline: none;
    background: #222;
  }

  .immersive-video-wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    margin: 0 auto;
  }

  /* Modal */

  .modal-wrapper {
    top: 10px;
    width: 100vw;
    height: 90vh;
    top: 10vh;
  }

  .modal iframe {
    z-index: 3;
    position: absolute;
    top: 8vh;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 92vh;
  }

  /* Story list */

  /* .story-list {
    margin: 0 4%;
  } */

  .bio-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (orientation: landscape) and (max-width: 900px) {
  .modal iframe {
    z-index: 3;
    position: absolute;
    top: 8vh;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 92vh;
  }
}
